* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla', sans-serif;
}

h1,
h2 {
  font-family: 'DM Serif Display', serif;
}

ul {
  list-style: none;
}

.para {
  font-size: clamp(16px, 1.1vw, 2rem);
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 3rem;
}

.color-gray {
  color: #837d87;
}

.big-heading {
  font-size: clamp(51.2px, 4vw, 7rem);
  color: #2b272f;
  line-height: 1;
  margin-bottom: 7rem;
}

.small-heading {
  font-size: clamp(32px, 2vw, 4rem);
  color: #2b272f;
}

.medium-heading {
  font-size: clamp(48px, 3.5vw, 6rem);
  color: #2b272f;
  line-height: 1;
  margin-inline: auto;
  padding-inline: 2rem;
}

button {
  background-color: inherit;
  font-family: inherit;
  font-weight: 400;
  font-size: clamp(16px, 1.1vw, 2rem);
  color: #fff;
  padding: 0.8rem 2rem;
  border: none;
  border: 2px solid #fff;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: white;
  color: #2d2640 !important;
}

.m-1 {
  margin: 1rem;
}

.mx-1 {
  margin-inline: 1rem;
}

.my-1 {
  margin-block: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.m-2 {
  margin: 2rem;
}

.mx-2 {
  margin-inline: 2rem;
}

.my-2 {
  margin-block: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.m-3 {
  margin: 3rem;
}

.mx-3 {
  margin-inline: 3rem;
}

.my-3 {
  margin-block: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.intro nav {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  padding: 32px;
}

.intro nav .nav-links,
.intro nav .btn,
.intro nav .white-line,
.intro nav .close {
  display: none;
}

.intro nav .nav-links {
  background-color: #2b272f;
  color: #fff;
  position: absolute;
  top: 6.5rem;
  left: 0;
  width: 100vw;
  padding-block: 4rem;
  text-align: center;
  height: 70vh;
  background-image: url('../images//bg-pattern-mobile-nav.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.intro nav .nav-links li {
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 1.3rem;
}

.intro .hero img {
  width: 100%;
  max-height: 100%;
  margin-bottom: -4px;
}

.intro .hero .img-intro-desktop {
  display: none;
}

.intro .hero article {
  text-align: center;
  background-color: #2d2640;
  padding: 6.5rem 1.5rem;
  margin-top: 0;
  background-image: url('../images/bg-pattern-intro-left-mobile.svg'),
    url('../images/bg-pattern-intro-right-mobile.svg');
  background-repeat: no-repeat;
  background-position: top left, bottom -170px right;
}

.intro .hero article * {
  color: #fff;
}

.intro .hero h1 {
  font-size: clamp(51.2px, 4vw, 7rem);
  line-height: 1;
  margin-bottom: 1rem;
}

.about-us {
  padding: 8rem 1.5rem;
  text-align: center;
}

.about-us .line {
  width: 50%;
  height: 1px;
  margin: 3.5rem auto;
  background-color: #95a9c6;
}

.about-us h1 {
  margin-bottom: 5rem;
}

.find-out-more {
  background-color: #2d2640;
  padding-block: 5rem;
  text-align: center;
  background-image: url('../images//bg-pattern-how-we-work-mobile.svg');
  background-repeat: no-repeat;
  background-position: top right;
  width: 90vw;
  margin-inline: auto;
}

.find-out-more h1 {
  color: #fff;
}

footer {
  background-color: #fafafa;
  text-align: center;
  padding: 5rem;
  background-image: url('../images/bg-pattern-footer-mobile.svg');
  background-repeat: no-repeat;
}

footer .logos {
  color: #95a9c6;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

footer .logos ion-icon:hover {
  color: #2d2640;
  cursor: pointer;
}

footer .line-two {
  width: 90%;
  height: 1px;
  margin-inline: auto;
  background-color: #95a9c6;
}

footer .links {
  text-transform: uppercase;
}

footer .links h3 {
  color: #837d87;
}

footer .links ul {
  color: #2d2640;
}

footer .links li {
  margin-block: 1.2rem;
}

@media (min-width: 875px) {
  .intro nav {
    width: 80vw;
    margin-inline: auto;
    padding-inline: 0;
  }
  .intro nav .hamburger,
  .intro nav .nav-links-btn {
    display: none;
  }
  .intro nav .btn {
    background-color: white;
    color: #2d2640;
    border: 2px solid #2d2640;
  }
  .intro nav .btn:hover {
    background-color: #2d2640;
    color: #fff !important;
    border: 2px solid fff;
  }
  .intro nav .btn {
    display: inline-block;
  }
  .intro nav .nav-links {
    display: flex;
    gap: 3rem;
    color: #837d87;
    margin-left: auto;
    margin-right: 3rem;
    background-color: unset;
    position: static;
    width: unset;
    padding-block: 0;
    height: unset;
  }
  .intro nav .nav-links li {
    font-weight: 700;
    cursor: pointer;
    font-size: unset;
    margin-bottom: 0;
  }
  .intro nav .nav-links li:hover {
    color: #2b272f;
  }
  .hero-container {
    background-color: #2d2640;
    background-image: none !important;
    background-image: url('../images/bg-pattern-intro-right-desktop.svg') !important;
    background-repeat: no-repeat;
    background-position: top -100px right;
    background-size: contain;
  }
  .hero-container .white-line {
    width: 25%;
    background-color: #fff;
    height: 1px;
    margin-bottom: 4rem;
  }
  .hero {
    display: flex;
    gap: 10%;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 80vw;
    margin-inline: auto;
  }
  .hero article {
    text-align: left !important;
    padding-inline: 0 !important;
    max-width: 50%;
    background-image: none !important;
  }
  .hero .img-intro-desktop {
    display: block !important;
  }
  .hero .img-intro-mobile {
    display: none;
  }
  .hero .img-holder {
    position: relative;
    top: 7rem;
    right: 3rem;
    padding-right: 7.5vw !important;
  }
  .hero .img-holder img {
    width: 140%;
  }
  .about-us {
    width: 85vw;
    margin-inline: auto;
  }
  .about-us h1 {
    text-align: left;
  }
  .about-us .line {
    width: 10%;
    margin-left: 0;
  }
  .about-us .flex {
    display: flex;
    text-align: left;
    gap: 5%;
  }
  .find-out-more {
    display: flex;
    justify-content: space-around;
    align-items: center !important;
    gap: 20%;
    background-image: url('../images//bg-pattern-how-we-work-desktop.svg');
    max-height: fit-content;
    padding-block: 2rem;
    width: 80vw;
  }
  .find-out-more .medium-heading {
    padding-inline: 0 !important;
    margin-inline: 0 !important;
    width: 40%;
    text-align: left;
    position: relative;
    top: 1.5rem;
  }
  footer {
    background-image: url('../images/bg-pattern-footer-desktop.svg');
  }
  footer ion-icon {
    font-size: 2rem;
  }
  footer .line-two {
    width: 80vw;
  }
  footer .logo-and-links,
  footer .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin-inline: auto;
  }
  footer .links {
    text-align: left;
    gap: 15%;
    align-items: flex-start;
    justify-content: unset;
  }
  footer li:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
